<div class="notepad">
    <div class="notepad-header">
        <div class="notepad-title-row">
            <img src="/assets/images/notepad.png" alt="Notepad icon" class="notepad-icon">
            {{ include.title }}.txt - Notepad
            <span class="spacer"></span>
            <div class="notepad-buttons">
                <span class="notepad-window-button">
                    <span class="notepad-minimize"></span>
                </span>
                <span class="notepad-window-button">
                    <span class="notepad-maximize"></span>
                </span>
                <span class="notepad-window-button notepad-close-button">
                    <span class="notepad-close"></span>
                    <span class="notepad-close"></span>
                </span>
            </div>
        </div>
        <div class="notepad-menu">

            <span class="notepad-menu-item"><span class="underline">F</span>ile
            </span><span class="notepad-menu-item"><span class="underline">E</span>dit
            </span><span class="notepad-menu-item"><span class="underline">F</span>ormat
            </span><span class="notepad-menu-item"><span class="underline">V</span>iew
            </span><span class="notepad-menu-item"><span class="underline">H</span>elp
            </span>

        </div>
    </div>

    <div class="notepad-content" style="width: {{ include.width }}ch; height: {{ include.height}}lh;">
        {{ include.content }}
    </div>

    <div class="notepad-footer">
        <span class="spacer"></span>
        <span class="notepad-footer-element notepad-footer-1">
            Ln {{ include.height | default: 0 }}, Col {{ include.width | default: 0 }}
        </span>
        <span class="notepad-footer-element notepad-footer-2">100%</span>
        <span class="notepad-footer-element notepad-footer-3">Windows (CRLF)</span>
        <span class="notepad-footer-element notepad-footer-4">UTF-8</span>
    </div>
</div>