:root {
  --bg-color: #b7dbe2;
  --text-color: #3a3a3a;
  --content-bg-color: #eee;
}

html {
  background-color: var(--bg-color);
  color: var(--text-color);
}

body {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  padding: 1rem;
}

.tile {
  padding: 1rem 2rem;
  background-color: var(--content-bg-color);
  box-shadow: -15px 0px 30px 6px rgba(121, 151, 160, 0.5), 15px 0px 30px 6px rgba(121, 151, 160, 0.5);
  height: fit-content;
  border-radius: 0.8rem;
}

/// POST CONTENT \\\
.blogpost {
  max-width: 800px;
  min-height: 40%;
}

.inline {
  text-align: unset;
  margin: unset;
  display: none;
}

@media screen and (max-width: 875px) {
  .inline{
    display: inline;
  }
  .sidebar {
    display: none;
  }
}

.title {
  border: 2px solid black;
  padding: 0.5rem;
  font-family: pixels;
  margin-top: 1rem;
}

.subtitle {
  font-family: pixels;
}

hr {
  margin: 0 1rem;
}

.content {
  font-size: 16px;
  line-height: 1.5;
  padding: 0 1rem;
}

#markdown-toc {
  border: 1px solid #3a3a3a;
  padding: 0.8rem 2rem;
  list-style: decimal;
  display: block;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

#markdown-toc::before {
  content: "Contents";
  display: block;
  text-align: center;
  font-weight: bold;
}

#markdown-toc ul {
  list-style: decimal;
}

details .postlist {
  text-align: center;
}

/// SIDEBAR & BLOG LIST \\\
.sidebar {
  margin-left: 1rem;
  flex-shrink: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.infotitle {
  text-align: center;
  margin-bottom: 0.3rem;
}

.postlist {
  max-width: 200px;
}

.postlist ul {
  margin: 0;
  padding-left: 0;
  list-style: inside none;
}

.postlist li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 0.5rem;
}

.postlist li::marker {
  content: "|";
}

.postlist li.current::marker {
  content: ">"
}

.year {
  background-color: var(--content-bg-color);
}

.year::after {
  content: " ";
  position: relative;
  height: 1px;
  width: calc(100% - 4rem);
  background: var(--text-color);
  top: -0.2rem;
  left: 0.2rem;
  display: inline-block;
}