@import "primary-header";

.main {
  background: url(../images/grass2.png) repeat;
  background-size: 32px 32px;
  height: calc(100% - 160px);
  padding: 15px;
  text-align: center;
}

.paths {
  max-width: 500px;
  min-width: 350px;
  margin: 32px auto auto;
  text-align: center;
  border: 5px solid rgb(86, 70, 35);
  padding: 15px 15px 27px 15px;
  contain: paint;
}

.row {
  display: flex;
  align-items: end;

  &:nth-child(even) {
    justify-content: left;
  }

  &:nth-child(odd) {
    justify-content: right;
  }
}

.sign {
  background: url(../images/wood3.png) repeat;
  background-size: 16px 16px;
  border: 3px solid rgb(86, 70, 35);
  width: fit-content;
  padding: 10px;
  contain: layout;
}

.sign::after, .sign::before {
  position: absolute;
  display: block;
  content: "";
  width: 6px;
  height: 17px;
  bottom: -17px;
  background: url(../images/post.png) top;
}

.sign::after {
  left: 30%;
}
.sign::before {
  right: 30%;
}

.crop {
  width: calc(50% - 19px);
  height: 32px;
  background: url(../images/plant.png) repeat-x;
  background-size: 32px 32px;
  border: 2px solid #4C6A17;
  margin-top: 6px;
}

.path {
  background: rgb(73, 43, 15);
}

.vertical {
  position: absolute;
  top: 35px;
  height: 80%;
  width: 30px;
  left: calc(50% - 15px);
}

.horizontal {
  height: 30px;
  display: inline-block;
  width: calc(50% - 200px);
  flex-grow: 1;
}

.short-text {
  display: none;
}
@media screen and (max-width: 484px) {
  .short-text{
    display: inline;
  }
  .full-text {
    display: none;
  }
}

.sign.external {
  padding: 3px 10px;
  display: flex;
}

.icon {
  height: 2rem;
  margin: 0px 10px;
}

.dude {
  position:absolute;
  width: 18px;
  height: 28px;
  background: red;
  bottom: 40px;
  left: calc(50% - 10px);
}

.row:has(.sign:hover) ~ .dude {
    animation: dudemove 2s linear forward;
    // bottom: 100px;

  // a { //TEMP
  //   color: red;
  // }
}

@keyframes dudemove {
  from {bottom: 40px;}
  to {
    bottom: 200px;
  }
}