.secondary {
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
}

.title {
  padding: 2rem 5rem;
  margin: 2rem 0 2rem 5rem;
  border: 4px solid rgb(32, 222, 255);
  width: fit-content;
}

.content {
  padding: 2rem 5rem;
  margin: 2rem 5rem;
  border: 4px solid rgb(32, 222, 255);
}