body {
  background-color: rgb(63, 194, 255);
  animation: bodyMoveup 0.6s ease-out 1;
}

.secondary {
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
  padding: 2.5rem;
  animation: contentMoveup 0.6s ease-out 1;
}

.title {
  padding: 2rem 4rem;
  width: fit-content;
  font-family: pixels;
}

nav {
  margin: 1.5rem 0;
  line-height: 1.5;
  font-family: pixels;

  a {
    margin-right: 0.3rem;
    margin-bottom: 0.3rem;
    transition: color 1.2s linear;
  }

  a:hover {
    color: rgb(116, 6, 30);
    transition: color 0.1s linear;
  }
}

.current:not(:hover) {
  color: rgb(161, 14, 46);
}
  
.content {
  padding: 1rem 2rem;
  font-family: monospace;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 8rem;
  text-align: left;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5rem;
  max-width: 95%;
  image-rendering: auto;
}

h2, h3, h4, h5, h6 {
  margin-top: 0.5rem;
  margin-bottom: 0;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

code {
  font-family: courier, monospace;
  background-color: #00000029;
  padding: 0.3rem;
  border-radius: 0.2rem;
  white-space: nowrap;
}

.bgcloud {
  transform: scale(2);
  z-index: -1;
  position: fixed;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

table {
  border-collapse: collapse;
}

td {
  border-left: 1px solid black;
  padding: 0.3rem 0.5rem;
}

tr {
  border-top: 1px dotted black;
  &:first-child {
    border-top: none;
  }
}

summary {
  margin-top: 0.5rem;
}

.card {
  width: 100%;
  display: flex;
  border: black 1px solid;
  margin-bottom: 1.5rem;
  
  .info-col {
    text-align: center;
    border-right: black 1px solid;
    flex-shrink: 0;
    
    .date-range {
      padding: 0.5rem;
      border-bottom: black 1px solid;
      background-color: #efefef;

      .date {
        display: block;
      }
    }

    .links a {
      display: block;
    }
  }
  
  .description-col {
    display: flex;
    flex-grow: 1;
    padding: 0.5rem;

    details {
      margin: auto 0;
    }

    summary {
      margin-top: unset;
      cursor: pointer;
      font-family: pixels;
      border-bottom: black 1px solid;
    }

    img {
      border: black 1px solid;
      float: right;
      max-width: 40%;
      margin: auto 0;
      margin-top: 0.4rem;
    }

    p {
      margin-top: 0.4rem;
    }
  }

  .vl {
    width: 0.2rem;
    height: 1rem;
    background-color: black;
    display: inline-block;
  }
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.gallery img {
  max-width: 45%;
  display: inline-block;
  margin: 0.5rem;
  cursor: pointer;
}

.overlayBG {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(10, 10, 20, 0.6);
}

.overlayImg {
  max-width: 80%;
  max-height: 80%;
}

img[alt="me"] {
  border: black 2px solid;
}

.tempmain {
  background: url(../images/grass3.png) repeat;
  background-size: 32px 32px;
  height: calc(100% - 6.5rem - 2 * 0.9rem);
  text-align: center;
  position: relative;
  animation: tempmainMoveup 0.6s ease-out 1 forwards;
}

.tempmain::before {
  display: block;
  position: relative;
  top: calc(-32px);
  width: 100%;
  height: 32px;
  background: url(../images/grasstop.png) repeat-x;
  background-size: 32px 32px;
  content: "";
}

.cloud {
  background-color: white;
  border-image-slice: 14 20 14 20;
  border-image-width: 24px 40px 24px 40px;
  border-image-outset: 14px 20px 14px 20px;
  border-image-repeat: round round;
  border-image-source: url(../images/cloudborder.png);
  border-style: solid;
}

.cloud1 {
  top: 8%;
  right: -8%;
  animation: moveLeft 80s linear -10s infinite;
}

.cloud2 {
  top: 26%;
  right: -8%;
  animation: moveLeftCovered 65s linear -30s infinite;
}

.cloud3 {
  top: 37%;
  right: -8%;
  animation: moveLeftCovered 90s linear 5s infinite;
}

.cloud4 {
  transform: scale(-2, 2);
  top: 45%;
  right: -8%;
  animation: moveLeftCovered 60s linear -60s infinite;
}

.cloud5 {
  transform: scale(-2, 2);
  top: 69%;
  left: -8%;
  animation: moveRightCovered 50s linear 20s infinite;
}

.cloud6 {
  transform: scale(-2, 2);
  top: 90%;
  left: -8%;
  animation: moveRight 105s linear -40s infinite;
}

@keyframes moveLeftCovered {
  0% {right: -8%;}
  46% {right: calc((100% - 750px) / 2);}
  54% {right: calc(100% - (100% - 750px)/2);}
  100% {right: 110%;}
}

@keyframes moveRightCovered {
  0% {left: -8%;}
  46% {left: calc((100% - 750px) / 2);}
  54% {left: calc(100% - (100% - 750px)/2);}
  100% {left: 110%;}
}

@keyframes moveLeft {
  from {right: -8%;}
  to {right: 110%;}
}

@keyframes moveRight {
  from {left: -8%;}
  to {left: 110%;}
}

// move page up on start
@keyframes contentMoveup {
  from {transform:translate3d(0px, -100%, 0px);}
  to {transform:translate3d(0, 0, 0);}
}

@keyframes bodyMoveup {
  from {overflow: hidden;}
  to {overflow: unset;}
}

@keyframes tempmainMoveup {
  from {transform:translate3d(0px, -50%, 0px);}
  to {transform:translate3d(0px, 450%, 0px); height:75px;}
}
