---
---
body {
  margin: 0;
}

.header {
  background-color: rgb(63, 194, 255);
  // border: 20px solid black;
  width: 100%;
  padding: 15px;
}

h1 {
  margin: 0;
}

.content {
  background-color: rgb(34, 211, 72);
  padding: 15px;
}