<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    
    {% if page.styles != nil and page.styles != '' %}
      <link rel="stylesheet" href="/assets/css/{{ page.styles }}.css">
    {% endif %}

    {% if layout.styles != nil and layout.styles != '' %}
    <link rel="stylesheet" href="/assets/css/{{ layout.styles }}.css">
    {% endif %}
    
    {% if page.script != nil and page.script != '' %}
      <script src="/assets/scripts/{{ page.script }}.js" defer></script>
    {% endif %}

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/favicon/site.webmanifest">

    <meta name="viewport" content="width=device-width" />
  </head>
  
  <body>
    {{ content }}
  </body>
</html>